
.b_template-index {

}

.b_template-row {

  .b_template-row__cell {
    display: inline-block;
    min-height: 120px;
  }

  .b_template_row__thumb {
    width: 120px;
    height: 120px;
    vertical-align: inherit;
    float: right;
    border-radius: 5px;
  }
}

.b_template-detail {
  .b_template-detail__tag {
    margin-right: 10px;
    font-size: 15px;
  }
}
